.popup {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: calc(40% - 140px);
    left: calc(50% - 175px);
    width: 94%;
    text-align: center;
    margin: 0;
    z-index: 2;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.245) 0px 1px 60px;
    width: 350px;
    height: 280px;
    transition: all 0.2s ease-in-out;
    font-family: 'Inter', sans-serif;
}

.popup-btn{
    align-items: center;
    background: #9FD356;
    border: solid;
    border-width: 0.2px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    color: #1A202C;
    display: inline-flex;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    height: 56px;
    justify-content: center;
    line-height: 24px;
    overflow-wrap: break-word;
    padding: 24px;
    text-decoration: none;
    width: auto;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin:5px;
}