
.shortener-input{
    font-family: Inter, sans-serif;
  font-size: 0,8rem;
  font-weight: 700;
  height: 50px;
  width: 700px;
  box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  border-radius: 8px;
  margin:5px;

}

.shortener-output{
  font-family: Inter, sans-serif;
font-size: 0,8rem;
font-weight: 700;
height: 50px;
width: 300px;
box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
box-sizing: border-box;
border-radius: 8px;
margin:5px;

}

.newurl-btn,
.shortener-btn{
  align-items: center;
  background: #9FD356;
  border: 1 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1A202C;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 50px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 24px;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin:5px;
  transition: box-shadow .5s,border-color .25s ease-in-out,-webkit-box-shadow .5s;
}
